name: opencv-cuda-ubuntu

on:
  push:
    paths:
      - '.github/workflows/opencv-cuda-ubuntu.yml'
#      - 'opencv-cuda_runtime-ubuntu.Dockerfile'
#      - 'opencv-cuda_devel-ubuntu.Dockerfile'
jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v3
      -
        name: Cache Docker layers
        uses: actions/cache@v2
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Docker Buildx (build)
        - run: make opencv-cuda-runtime
        - run: make opencv-cuda-devel

