name: opencv-cuda-ubuntu

on:
  push:
    paths:
      - '.github/workflows/opencv-cuda-ubuntu.yml'
#      - 'opencv-cuda_runtime-ubuntu.Dockerfile'
#      - 'opencv-cuda_devel-ubuntu.Dockerfile'


jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      #- run: make opencv-cuda-runtime
      #- run: make opencv-cuda-devel
      - run: make gocv-cuda-devel

